<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs mt-4 ">
    <div class="page-header d-flex align-items-center" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/img/college.png') center center; background-size: cover;">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 class="fw-bold">مقدمة في البرمجة</h2>
            </div>
        </div>
      </div>
    </div>
    
  </div><!-- End Breadcrumbs -->