<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>فريق غراس</span>
          </a>
          <p>الموقع الرسمي لفريق غراس من كلية تكنولوجيا الحاسوب والمعلومات من جامعة العلوم والتكنولوجيا.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>روابط مهمة</h4>
          <ul>
            <li><a href="#">الرئيسية</a></li>
            <li><a href="#">عن الفريق</a></li>
            <li><a href="#">تطوع معنا</a></li>
            <li><a href="#">تواصل معنا</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>التخصصات الدراسية</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright fw-bold ">
         جميع الحقوق محفوظة <span class="fs-5">&copy;</span>
      </div>
      <div class="credits">
        <p>فريق غراس</p>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->
